html{
  background-color: rgb(0, 0, 0, .1);
}

.nav{
  padding: 7px 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index: 10;
  max-width: 640px;
  background-color: rgba(242, 48, 48, 0);
}

.nav .nav-menu{
  width: 20px;
  margin: 7px 15px 0;
}

.nav .nav-login{
  width: 50px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  margin-top: 5px;
  color: #fff;
}

.nav .nav-search{
  width: calc(100% - 130px);
  height: 30px;
  background-color: #fff;
  border-radius: 15px;
  padding: 0 15px;
  position: relative;
}

.jd-icon{
  width: .3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.search-box{
  width: calc(100% - .3rem - 10px);
}

.line{
  float: left;
  width: 1px;
  height: 16px;
  background-color: #ddd;
  margin-top: 7px;
}

.search-icon{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 5px;
  background: url("../images/jd-sprites.png") no-repeat -81px 3px;
  background-size: 200px 200px;
  float: left;
}

.search-ipt{
  float: left;
  width: calc(100% - 41px);
  padding-left: 10px;
}

.search-ipt>input{
  display: block;
  width: 100%;
  height: 30px;
}

.search-input::-webkit-input-placeholder{
  color: #888;
  font-size: 12px;
}

.search-input{
  color: #555;
}

.swiper-pagination-bullet{
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  border: 1px solid #fff;
}

.swiper-pagination-bullet-active{
  background-color: #f0f0f0;
}

.nav-main{
  width: 100%;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  position: relative;
  top: -8px;
  left: 0;
  z-index: 8;
  padding-top: 10px;
  text-align: center;
  overflow: hidden;
}

.nav-main-top{
  overflow: hidden;
  margin-bottom: 10px;
}

.nav-main-bottom{
  overflow: hidden;
}

.nav-main-top>div{
  width: 20%;
  float: left;
}

.nav-main-bottom>div{
  width: 20%;
  float: left;
}

.imgbox{
  width: 50%;
  margin: 0 auto;
}

span{
  font-size: 13px;
  color: #666;
}

.swiper-pagination-1>.swiper-pagination-bullet{
  background-color: rgb(0, 0, 0, .2);
}

.swiper-pagination-1>.swiper-pagination-bullet-active{
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(255, 0, 0, .5);
}

.time{
  width: 95%;
  border-radius: 10px;
  margin: 5px auto 10px;
  background-color: #fff;
  text-align: center;
}

.timer-box{
  width: 100%;
  background: url('../images/msbg.png') no-repeat 0 0;
  background-size: 100% 100%;
}

.timer-head{
  width: 30%;
  padding-top: .05rem;
}

h4,p{
  margin: 0;
  padding: 0;
}

.red{
  color: red;
  font-size: 16px;
  font-weight: bold;
}

del{
  color: #888;
  font-size: 12px;
  display: block;
}

.jdmsimg{
  width: 60%;
  padding-left: .05rem;
}

.pbq{
  padding-left: .05rem;
  color: black;
}

.timer{
  width: 20%;
  height: 15px;
}

.time-bot{
  overflow-x: auto;
}

.time-bot .timebox{
  width: 14rem;
}

.timebox .timeboximg{
  width: 1rem;
  margin: 0 .2rem;
}

.timer-more{
  width: 25%;
}

.sencond-kill{
  padding-right: .1rem;
}

.morekill{
  text-decoration: none;
  color: #e4393c;
  font-size: 13px;
}

.moreimg{
  width: 15%;
  margin-top: .08rem;
}

.new{
  width: 95%;
  margin: 0 auto ;
}

.left,.right{
  width: 50%;
}

.new .left img{
  border-radius: 10px 0 0 10px;
}

.new .right img{
  border-radius: 0 10px 10px 0;
}

.cout-box{
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
}

.cout-top .top-left{
  width: 50%;
  border-right: 1px solid rgb(0, 0, 0, .1);
  border-bottom: 1px solid rgb(0, 0, 0, .1);
}

.cout-top .top-right{
  width: calc(50% - 1px);
  border-bottom: 1px solid rgb(0, 0, 0, .1);
}

.font-big{
  margin: 0;
  font-size: 18px;
  padding: 10px 0 5px 10px;
  background: -webkit-linear-gradient(left,#45CAFF,#1471FB);
  background: linear-gradient(to right, #45CAFF,#1471FB);
  -webkit-background-clip: text;
  color: transparent;
}

.font-small{
  margin: 0;
  padding: 0 0 5px 10px;
  color: #888;
}

.topleft-img-1{
  width: 30%;
  padding: 0 0 10px 20px;
}

.topright-img-1{
  width: 30%;
  padding: 0 0 10px 20px;
}

.cout-bottom>.cout-bot{
  float: left;
}

.bot-1{
  width: 22.25%;
  border-right: 1px solid rgb(0, 0, 0, .1);
  padding-left: 10px;
}

.bot-2{
  width: calc(22.25% - 1px);
  border-right: 1px solid rgb(0, 0, 0, .1);
  padding-left: 10px;
}

.bot-3{
  width: calc(22.25% - 1px);
  border-right: 1px solid rgb(0, 0, 0, .1);
  padding-left: 10px;
}

.bot-4{
  width: calc(22% - 1px);
  padding-left: 10px;
}

h3,p{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

p{
  font-size: 13px;
  color: #888;
}
.cout-bottom img{
  width: 90%;
  margin: 0;
}

.mrgbox{
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff; 
}

.top-1{
  width: 22.25%;
  border-right: 1px solid rgb(0, 0, 0, .1);
  border-bottom: 1px solid rgb(0, 0, 0, .1);
  padding-left: 10px;
  padding-top: 10px;
}

.bot-1{
  width: 22.25%;
  border-right: 1px solid rgb(0, 0, 0, .1);
  padding-left: 10px;
  padding-top: 10px;
}

.top-2{
  width: calc(22.25% - 1px);
  border-right: 1px solid rgb(0, 0, 0, .1);
  border-bottom: 1px solid rgb(0, 0, 0, .1);
  padding-left: 10px;
  padding-top: 10px;
}

.bot-2,.bot-3{
  width: calc(22.25% - 1px);
  border-right: 1px solid rgb(0, 0, 0, .1);
  padding-left: 10px;
  padding-top: 10px;
}

.top-3{
  width: calc(22.25% - 1px);
  border-right: 1px solid rgb(0, 0, 0, .1);
  border-bottom: 1px solid rgb(0, 0, 0, .1);
  padding-left: 10px;
  padding-top: 10px;
}

.top-4{
  width: calc(22% - 1px);
  padding-left: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgb(0, 0, 0, .1);
}

.bot-4{
  width: calc(22% - 1px);
  padding-left: 10px;
  padding-top: 10px;
}

.mrgbox img{
  width: 90%;
  margin: 5px 0 0 0;
}

h4,p{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.redtext{
  background: -webkit-linear-gradient(left,#FF2A2A,#F139D2);
  background: linear-gradient(90deg, #FF2A2A,#F139D2);
  -webkit-background-clip: text;
  color: transparent;
}

.phb{
  background: -webkit-linear-gradient(left,#D400FF,#FF320A);
  background: linear-gradient(90deg, #D400FF,#FF320A);
  -webkit-background-clip: text;
  color: transparent;
}

.ppsg{
  background: -webkit-linear-gradient(left,#FE8537,#F02B2B);
  background: linear-gradient(90deg, #FE8537,#F02B2B);
  -webkit-background-clip: text;
  color: transparent;
}

.pphw{
  background: -webkit-linear-gradient(left,#00C2AB,#3E94FF);
  background: linear-gradient(90deg, #00C2AB,#3E94FF);
  -webkit-background-clip: text;
  color: transparent;
}

.fxhh{
  background: -webkit-linear-gradient(left,#2AD396,#85BB1F);
  background: linear-gradient(90deg, #2AD396,#85BB1F);
  -webkit-background-clip: text;
  color: transparent;
}

p{
  font-size: 13px;
  color: #888;
}

.wntj{
  width: 95%;
  margin: 10px auto 0;
}

.wntjbox{
  width: 95%;
  padding-bottom: .8rem;
  margin: 0 auto;
}

.list-Li{
  width: calc(50% - .05rem);
  background-color: #fff;
  margin-bottom: .05rem;
}

.Li2,.Li4{
  margin-left: .1rem;
}

.moretext{
  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  overflow:hidden;
  color: black;
  padding-left: .05rem;
}

.price{
  color: #e4393c;
  margin-top: .2rem;
}

.sg{
  color: #e4393c;
  border: 1px solid #e4393c;
  padding: .01rem;
  font-size: 12px;
  margin-left: .2rem;
  margin-top: .2rem;
}

.kxs{
  color: #666;
  border: 1px solid #999;
  font-size: 13px;
  padding: .05rem;
  margin-top: .15rem;
  margin-right: .1rem;
}

.pad-bot{
  width: 100%;
  height: .3rem;
}